<h1 class="custom_h1">Listing all article</h1>
<!--
<p>
	<%= link_to "Create new articles", new_article_path %>
</p>
-->
<div align="center">
	<%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
	<%= will_paginate %>
</div>	