<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://github.com/thaivankhoa/first_rails">The First Rails Application</a>
			by <a href="https://www.fb.com/tvkhyoa">Khoa Thai</a>
		</small>
	</footer>
</div>